// H3Auto.rc
#include "resource.h"

IDR_VERSIONINFO VERSIONINFO
 FILEVERSION 0,1,2026,1009
 PRODUCTVERSION 0,1,2026,1009
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "Comments", "Manual Battle Automation"
            VALUE "CompanyName", "Apq"
            VALUE "FileDescription", "Manual Battle Automation"
            VALUE "FileVersion", "0.1.2026.1009"
            VALUE "InternalName", "H3Auto"
            VALUE "LegalCopyright", "Copyright (C) Apq"
            VALUE "OriginalFilename", "H3Auto.dll"
            VALUE "ProductName", "H3Auto"
            VALUE "ProductVersion", "0.1.2026.1009"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
